.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
h1, h2{
  font-family: 'Fredoka One', sans-serif !important;
}
.nomWeb{
  font-family: 'Fredoka One', sans-serif !important;
}
.logoBaGD{
  background-color: white;
  border: 3px solid #f7cad0;
  border-radius: 100em;
  width: 2em;
  height: 2em;
  background-image: url('../src/logo.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center ;
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  -ms-border-radius: 100em;
  -o-border-radius: 100em;
}
.navRose{
  background-color: #f1e1e4e8;
}
.btnRose{
  border: 2px solid #f7cad0 !important;
  background-color: white;
  color: #f7b5bd;
}
.espacMarg{
  margin-right: 0.5em;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
